<br/>
<h2>New Transcation Details</h2>
<main>
  <p>
    You got a new order!
  </p>

  <p>
    Order details<br>
    --------------------------
  </p>
 
Name: <%= @product.product_name %>
Transaction Date: <%= DateTime.now %>
Email: <%= @buyer.email %>
Address: <%= @buyer.address.address_street %>
    ----------
  </p>
</main>