<nav class="footernavs">
  <section class="footerproductimages">
    <div>product image</div>
    <div>product image</div>
    <div>product image</div>
    <div>product image</div>
  </section>
  <ul class="city">
    <li><a href="www.facebook.com">Facebook</a></li>
    <li><a href="www.instagram.com">Instagram</a></li>
    <li><a href="www.twitter.com">Twitter</a></li>
  </ul>
</nav>