<br/>
<h2>About</h2>
<main>
  <p>
    Lockdown Creatives is a Marketplace that aims to support artists, creatives and performers in lockdown by offering a new revenue stream.
  </p>
  <p>
    The platform provides opportunity for creatives to build upon their skills to produce kits or experiences that push the boundaries of their creativity. 
  </p>
  <p>
    We're all looking for new ways to stay entertained, maintain creativity and feel good during lockdown. 
    Lockdown Creatives offers new ways for customers to stay informed about their favourite creatives, participating in fueling their income whilst the government haults the entertainment and arts industries.
  </p>
  <p>
    Customers grow their interaction with your business online and at home.
  </p>
  <p>
    We understand you can't be out in the wild flaunting your skills during lockdown, but you can still connect with your audience. 
  </p>
  <p>
    Delivery and schedules are maintained outside the app by you the creative to ensure you're producing only at the capacity you wish. This means if the pandemic is getting you down you can take that mental health break. It's your time, no one elses, so work within your means. 
  </p>
  <p>
    Create that side hustle! Grow this additional revenue stream outside of pandemic times.
  </p>
</main>