<nav class="allnavs">
  <span><h1>Lockdown Creatives</h1></span>
  <h2>Hello, world</h2>
  <span>
    <ul>
      <li>Melbourne</li>
      <li>Sell</li>
      <li>About</li>
      <li>Sign In</li>
      <li>Profile</li>
    </ul>
  </span>
</nav>