<br/>
<h2>Create that side hustle!</h2>
<main id="home">
    <section>
        Image
    </section>
    <section>
        <h2>A marketplace for lockdown experiences.<br/>
        By artists, for lovers of art.
        </h2>
        <h5>
            Lockdown Creatives is a Marketplace that aims to support artists, creatives and performers in lockdown by offering a new revenue stream.
        </h5>
        <button class="landing-buttons"><%= link_to "SIGN UP", new_user_registration_path %></button><button class="landing-buttons"><%= link_to "SHOP NOW", products_path %></button>
    </section>
</main>