/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap.scss";

body {
  box-sizing: border-box;
  color: slategray;
  margin: 15px;
}

h1,
h2,
h3,
h4,
h5,
h5,
p {
  padding-left: 15px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Amatic SC", cursive;
}

h1,
h2 {
  font-weight: bolder;
}

.headernavs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
  border-bottom: 1px solid greenyellow;
  h1 {
    display: flex;
    justify-content: flex-start;
    margin: 0;
  }
  ul {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }
  li {
    display: inline;
    font-weight: normal;
    margin: 0 10px;
    a {
      color: slategrey;
      &:hover {
        color: #007bff;
      }
    }
  }
}

main {
  margin: 30px 5px;
  padding: 15px;
  background-color: honeydew;
}

.mainform {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.footernavs {
  display: flex;
  flex-flow: column wrap;
  margin-top: 100px;
  border-top: 1px solid greenyellow;
  ul {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    // margin-right: 15px;
    li {
      display: inline;
      margin: 0 10px;
      font-weight: normal;
      a {
        color: slategray;
        &:hover {
          color: #007bff;
        }
      }
    }
  }
  div.footersignup {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
    align-content: center;
    text-align: left;
    padding: 20px 40px;
    width: 50vw;
    border-radius: 10px;
    background-color: lightyellow;
    h6 {
      margin: 0;
    }
    button.getstartedbtn {
      background-color: pink;
      font-weight: bolder;
      border: none;
      padding: 5px 8px;
      border-radius: 5px;
    }
  }
  .footerproductimages {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
    margin: 15px;
    .footerproductimg {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }
}
