// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.field,
div.actions {
  margin-bottom: 10px;
}

label {
  padding: 5px;
  margin: 0;
  font-size: small;
}

em,
i {
  padding: 0 0 0 5px;
  margin: 0;
  font-size: small;
}

input,
textarea,
select {
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid black;
  padding-left: 5px;
}

input.btn {
  background-color: transparent;
  padding: 0;
  border: none;
  &:hover {
    // color: #fff;
    background-color: greenyellow;
  }
}

section.imageholder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

div.productlisting {
  border: none;
  border-radius: 20px 0 0 0;
  background-color: lightyellow;
  text-align: center;
  margin: 15px 15px;
  div.productimagecontainer {
    margin: 10px;
    // background-color: lightgrey;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;

    .smallproductimage {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
    .categoryname {
      position: absolute;
    }
  }
}

#show {
  display: flex;
  .productimage {
    max-width: 300px;
    max-height: 450px;
    object-fit: cover;
  }
  section.productinfo {
    padding: 0 40px 20px 10px;
  }
}
