body {
  background-color: #fff;
  color: #333;
  margin: 33px;
}

body,
p,
ol,
ul {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

div.image {
  margin: 10px;
  width: 100px;
  height: 100px;
  background-color: lightgrey;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a:visited {
  color: slategray;
}

a:hover {
  color: #fff;
  background-color: greenyellow;
}

a.back {
  text-decoration: underline;
}

a.specialbtn {
  text-decoration: underline;
}

td {
  padding: 0 5px 7px;
}

div.field {
  margin: 10px;
}

div.actions {
  margin-top: 20px;
}

input.specialbtn {
  border: none;
  text-decoration: underline;
  color: darkolivegreen;
  font-weight: bold;
  border-radius: 0;
  margin: 0;
  padding: 0;
}
input.specialbtn:hover {
  // color: #fff;
  background-color: greenyellow;
  // border: none;
  // border-radius: 0;
  color: slategray;
  text-decoration: underline;
}

div.fieldspacing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  em {
    color: darkolivegreen;
  }
}

#notice {
  color: darkolivegreen;
}

.field_with_errors {
  padding: 2px;
  background-color: greenyellow;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid greenyellow;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #fff;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: greenyellow;
  color: #000;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}
