// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#success {
  display: flex;
  flex-flow: row wrap;
  h4 {
    font-weight: normal;
    strong {
      color: darkolivegreen;
    }
  }
  .image {
    width: 300px;
    height: 100%;
    object-fit: cover;
    background-color: lightgrey;
  }
  article {
    padding: 0 40px 20px 10px;
    width: 500px;
    .successtick {
      width: 100px;
    }
  }
}
#transactionlist {
  display: flex;
  flex-direction: column;
  p {
    margin: 15px 0 0 0;
    padding: 0;
  }
  .transactionlistcontainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    text-align: center;
    padding: 5px;
    .transactionitem {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      border: 1px solid darkolivegreen;
      border-radius: 10px;
      padding: 10px 10px;
      margin-top: 10px;
      text-align: left;
      .transactionimg {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
      ul {
        list-style: none;
        margin: 0;
        padding-left: 15px;
      }
    }
  }
}
