<br/>
<h2>Thanks for your purchase!</h2>
<main id="success">
  <section>
    <%= image_tag "heroimage.jpg", alt:"flowers, markers and creative note book full of art.", :class=>"image" %>
  </section>
  <article class="abouttext">
    <h4>The - <strong><%= @title %>******</strong> - is now yours!</h4>
    <p>Lorem ipsum dolor sit amet.</p>
    <div>
      <%= image_tag "tick-icon.png", class:"successtick" %>
    </div>
    <br />
    <br />
    <br />
    <%= link_to "Previous Transactions", transactionslist_path, :class=>'back' %>  
  </article>
</main>