<br/>
<h2>Create that side hustle!</h2>
<main id="transactionlist">
    <h2><%#= @user.fullname %>'s Transaction History</h2>
    <div>
        <h4>Name of Product</h4>
        <ul>
            <li>bought on this date</li>
            <li>for this much money</li>
        </ul>
    </div>
    <div>
        <h4>Name of Product</h4>
        <ul>
            <li>bought on this date</li>
            <li>for this much money</li>
        </ul>
    </div>
    <div>
        <h4>Name of Product</h4>
        <ul>
            <li>bought on this date</li>
            <li>for this much money</li>
        </ul>
    </div>
</main>